# Virtual environments
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Git / OS files
.git/
.DS_Store

# Data and models (keep these outside image)
data/
.cache/
.huggingface/
models/
checkpoints/
